.about{
    .secContainer{
        .title{
            color: #000;
            text-align: center;
            padding-bottom: 2rem;
            line-height: 1.5rem;
            font-size: 2rem;
            font-weight: 600;
            

        }

        .mainContent{
            gap: 4rem;
            .singleItem{
                text-align: center;
                img{
                    padding: .4rem;
                    width:200px;
                    height: 200px;
                    border-radius: 50%;
                }
                h3{
                    font-weight: 700;
                    padding: .4rem;
                }
                p{
                    font-size: 13px;
                    margin: auto;
                    font-weight: 500;
                    padding-bottom: .5rem;
                    

                }
            }
        }
        .videoCard{
            margin-top: 2rem;
            background: linear-gradient(to top,rgba(0,0,0,0.33),rgba(0,0,0,0.43)),url("../../../public/images/about1.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .cardContent{
                gap: 2rem;
                padding: 2rem 1rem;

                .cardText{
                    h2{
                        color: #fff;
                        font-weight: 600;
                        padding-bottom: .7rem;
                    }
                    
                    p{
                        color: #fff;
                        opacity: .8;
                        font-size: .8rem;
                        font-weight: 400;
                        letter-spacing: 1px;


                    }
                }
            }

            .cardVideo{
                border: 2px solid white;
                height: 250px;
                width: 100%;
                border-radius: 10px;
                overflow: hidden;
                margin-top: 1rem;
                

                video{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    
                }

            }



            }
        }
    }


    @media screen and (min-width:720px){
        .about{
            .secContainer{
                .videoCard{
                    .cardContent{
                        gap: 4rem;
                        padding: 4rem 3rem;
                        grid-template-columns: repeat(2,1fr)!important;

                        .cardText{
                            h2{
                                font-size: 2rem;
                            }
                            p{
                                opacity: .7;
                                font-size: 1rem;
                            }
                        }
                    }
                    .cardContent{
                        .cardVideo{
                            width: 100%;
                            height: 50vh;
                            
                            
                        }
                    }
                }
            }
        }

    }