

.home{
    height: 70vh;
    background: linear-gradient(rgba(33,33,33,0.522),rgba(33,33,33,0.522)),url("../../../public/images/a.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: auto;
    
    position: relative;

    .secContainer{
        .homeText{
            text-align: center;
            .title{
                color: #fff;
                font-size: 2rem;
                font-weight: 700;
                line-height: 2rem;
                text-shadow: 2px 2px 3px rgba(128, 0, 0, 1);
            }
            .subTitle{
                color: #fff;
                font-size: 1rem;
                font-weight: 600;
                padding: 1rem 0;
                max-width: 70%;
                text-align:center;
                margin: auto;
                
            }
            .btn{
                padding: 0.5rem 1.5rem;
                background-color: rgb(255, 119, 0);
                font-weight: bold;
            }
        }
        .homeCard{
            width: 75%;
            height: 40vh;
            border-radius: 1rem;
            padding: 1rem;
            background-color: #f5f1f1;
            position: absolute;
            gap:1rem;
            color: #000;
            justify-content:center ;
            bottom: -30%;
            transform: translate(-50%);
            left: 50%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            .locationDiv,.distDiv,.priceDiv{
                width: 100%;

                label{
                    display: block;
                    font-weight: 600;
                    font-size: 1rem;
                    padding-bottom: 0.4rem;
                }
                input{
                    width: 100%;
                    border-radius: 0.6rem;
                    border: none;
                    padding: 5px 8px;
                    font-size: 1rem;            
                    font-weight: 500;
                    

                    &::placeholder{
                        font-size: 13px;
                        opacity: 0.7;
                        font-weight: 500;
                        color:black;

                    }
                    &:focus{
                        outline: none;
                    }
                }



            }
            .btn{
                width: 100%;
                padding: 0.6rem 1.5rem;
                color: #fff;
                font-size: 1rem;
                font-weight: 600;
                background-color:rgb(255, 119, 0); ;

            }
            
            
        }
    }
}

@media screen and (min-width:480px) {
    .home{
        .secContainer{
            .homeCard{
                
                flex-wrap: wrap;
                bottom: -70px;
                width: 80%;
                height: 27vh;
                gap: .6rem;
                grid-template-columns: repeat(2,1fr);
                
                .btn{
                    transform: translateY(14px);
                }

            }
        }
    }
    
}
@media screen and (min-width:556px) {
    .home{
        .secContainer{
            .homeText{
                .title{
                    font-size: 2.5rem;
                    font-weight: 700;
                    line-height: 3rem;

                }
            }
        }
    }


}
@media screen and (min-width:720px) {
    .home{
        .secContainer{
            .homeCard{
                bottom: -20%;
                height: 20vh;
                grid-template-columns: repeat(4,1fr);
            }
            .homeText{
                padding: 1rem 10rem;
            
            .title{
                font-size: 3rem;
                margin: auto;
                line-height: 4rem;
                
                span{
                    color: aqua;
                }
            }
            .subTitle{
                width: 90%;
                margin: auto;
            }
        }
        }
    }

}


@media screen and (min-width:1024px){
    .home{
        .secContainer{
            .homeText{
                .subTitle{
                    font-size: 20px;
                }
            }
            .homeCard{
                width: 70%;
            }
        }
    }
} 