/* .container{
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: auto;
    
    position: relative;
    margin-bottom: 30rem;
} */